@using aspnetmvc5.Controllers
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-nav-custom">

    <a class="navbar-brand" href="#">
        <img src="../img/logo.png" height="30" class="d-inline-block align-top" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item @((string) @ViewBag.Section=="Carreras" ? "active" : "")">
          <a class="nav-link" href="~/Navigation/Carreras">Carreras</a>
        </li>
        <li class="nav-item @((string) @ViewBag.Section=="Materias" ? "active" : "")">
          <a class="nav-link" href="~/Navigation/Materias">Materias</a>
        </li>
        <li class="nav-item @((string) @ViewBag.Section=="Profesores" ? "active" : "")">
          <a class="nav-link" href="~/Navigation/Profesores">Profesores</a>
        </li>
        
        @if (ViewData["UserType"].Equals(3) || ViewData["UserType"].Equals(1))
        {
          <li class="nav-item @((string) @ViewBag.Section == "Alumnos" ? "active" : "")">
            <a class="nav-link" href="~/Navigation/Alumnos">Alumnos</a>
          </li>
        }
        
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <span class="navbar-text">
            Hola: <br>
            @ViewData["LoggedUser"]
          </span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="~/Action/Logout"><i class="fas fa-sign-out-alt navbar-icon"></i></a>
        </li>
      </ul>

    </div>

  </nav>
</header>